/* POLICE */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins&display=swap');

/* * */
body{
	background-color: black;
}

.container-fluid {
	padding: 0;
}

hr {
	color: #fff;
}

h1 {
	font-family: 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 55px;
}

h2 {
	font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;
}

p {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-size: 18px;
}

.ligne {
	width: 8%;
	display: block;
	margin: 1% 0 1%;
	background: #A51111;
	height: 7px;
}

.ligne.text-center{
	display: block;
	margin: 0 auto;
}

.white_block{
    background-color: #fff;
    color: black;
    padding: 3% 0 3%;
}

.white_block > div > h2, .white_block > div > p{
    color: black;
}

.white_block > div > h2, .white_block > div > ul > li > p{
    color: black;
}

.coaching_personnalise > div > div > h2 {
	text-align: center;
}
	background-color: #fff;
	color: black;
	padding: 3% 0 3%;
}

.white_block > div > h2, .white_block > div > p{
	color: black;
}

.white_block > div > h2, .white_block > div > ul > li > p{
	color: black;
}

/* BOUTON */
.btn-outline-primary {
    color: #ffffff !important;
    border-color: #ffffff !important;
}

.btn-outline-primary:hover{
	background-color: #A51111 !important;
}

.btn-primary {
    color: #000 !important;
    background-color: #ffffff !important;
    border-color: #fff !important;
}

.btn {
    border: 2px solid transparent;
    padding: .575rem 1.95rem;
    font-size: 1rem;
    border-radius: 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.lg {
    padding: 1.2rem 1.95rem !important;
    font-size: 17px !important;
}

.btn-devis{
	color: white !important;
    background: black;
	margin-top: 1%;
}

.btn-devis:hover{
	background-color: #A51111;
	color: #fff !important;
	/*border-color: #fff !important;*/
}

/* MENU */
.bg-light {
    background-color: #0000008c!important;
}

.navbar-brand {
    padding: 0 !important;
}

.navbar, .container {
    padding: 0 5% 0 5%;
}

.nav-link {
	font-family: 'Oswald', sans-serif;
	color: #fff !important;
}

/* ACCUEIL */
.header {
	background-image:url('../images/kw-coaching-kevin-header2.png');
	height: 780px;
	position: relative;
	background-size: cover;
	margin-top: -10%;
	z-index: -1;
	padding: 23% 0 0;
}

.header > div > h1 {
	margin-bottom: 3%;
	/*color : #A51111;*/
}

/** COACHING **/
.coaching-pers{
    padding: 8% 0 8%;
}

/** AVIS CLIENTS **/
.testimony_name{
	font-family: 'Oswald', sans-serif;
	color: black;
	text-align: center;
}

.testimony_text{
	color: black;
	text-align: justify;
	font-size: 14px;
	height : 90px;
}

.testimony{
	background-color: #fff !important;
	border-right:#A51111 solid 10px;
	border-bottom: #A51111 solid 10px;
	padding : 1%;
	width: 367px !important;
	height : 250px;
	display: block;
	margin : 10px;
}

.quotes{
	display: inherit !important;
	margin : 0 4% 0 0 !important;
	width : auto !important;
}

.block_name{
	height : 50px;
}

/* ACCES ADMIN*/
.formulaire-co > img {
	display: block;
    margin: 0 auto;
	width: 35%;
}

.formulaire-co > form {
	background: #ffffff33;
    padding: 3%;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.formulaire-co > form > div > label {
	color: #fff;
    font-size: 18px;
}

.homepage {
	position: absolute;
    bottom: 3%;
    left: 3%;
}

.homepage > a {
	color: #fff;
	text-decoration: none;
}

/* PAGE COACHING PERSONNALISE */
.header-coaching-personnalise {
	background-image: url(../images/coaching-personnalise.jpg);
	height: 705px;
    background-size: cover;
    margin-top: -20%;
    z-index: -1;
    padding: 25% 0 0;
}

.coaching_personnalise  > p {
	margin-top: 2%;
}

.white_block > div > p {
	text-align: justify;
}

.white_block > div > img {
	display: block;
	margin : 0 auto;
}

.white_block > div:first-child {
	padding-right: 2%;
}

.white_block > div:nth-child(2n) {
	padding-left: 2%;
}

.black_border{
	border-right: 2px solid #A51111;
}

/* FORMULAIRE CONTACT */
.formulaire_contact > form {
	background: #ffffff33;
    padding: 3%;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.formulaire_contact > form > div > label , .formulaire_contact > form > div > div > div > label {
	color: #fff;
    font-size: 18px;
	text-align: right;
}

#particulier_form{
	display: none;
}

#entreprise_form{
	display : none;
}

/* SPORT EN ENTREPRISE */
.header_sport_entreprise {
	background-image: url(../images/sport_entreprise.jpg);
    height: 705px;
    background-size: cover;
    margin-top: -20%;
    z-index: -1;
    padding: 29% 0 0;
}

.sport_entreprise {
    padding: 3%;
    display: block;
    margin: 0 auto;
	color: #fff;
    font-size: 18px;
}

.container > .contenu_seance_sport_entreprise > h2 {
	padding-top: 3%;
}

.underline {
	text-decoration: underline;
}

/* CARDS */
.cards {
	padding: 0 4% 6%;
}

.content-card {
	background: #fff;
    padding: 10% 3% 10% 3%;
    border-radius: 5px;
	margin-top: -40%;
}

.image-card {
	width: 18%;
    display: block;
    margin: 0 auto;
    margin-bottom: 6%;
}

.number {
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	color: #a51010;
}

.separe {
	height: 1px;
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-bottom: 5%;
}

.content-card > p {
	color: black !important;
	margin: 0;
}

.contenu_seance_sport_entreprise {
	padding: 5% 0 4%;
}

.slogan > h2 {
	font-size: 22px;
}

.slogan > img {
	width: 3%;
	margin-bottom: 1%
}

.slogan {
	margin-top: 5%;
}
