/* POLICE */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Poppins&display=swap');

/* * */
body{
	background-color: black;
}

.container-fluid {
	padding: 0;
}

h1 {
	font-family: 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 55px;
}

h2 {
	font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 35px;
    color: #fff;
}

p {
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-size: 18px;
}

.ligne {
	width: 8%;
	display: block;
	margin: 1%;
	background: #A51111;
	height: 7px;
}

.ligne.text-center{
	display: block;
	margin: 0 auto;
}

.white_block{
    background-color: #fff;
    color: black;
    padding: 3% 0 3%;
}

.white_block > div > h2, .white_block > div > p{
    color: black;
}

.white_block > div > h2, .white_block > div > ul > li > p{
    color: black;
}

/* BOUTON */
.btn-outline-primary {
    color: #ffffff !important;
    border-color: #ffffff !important;
}

.btn-primary {
    color: #000 !important;
    background-color: #ffffff !important;
    border-color: #fff !important;
}

.btn {
    border: 2px solid transparent;
    padding: .575rem 1.95rem;
    font-size: 1rem;
    border-radius: 0;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}

.lg {
    padding: 1.2rem 1.95rem !important;
    font-size: 17px !important;
}

/* MENU */
.bg-light {
    background-color: #0000008c!important;
}

.navbar-brand {
    padding: 0 !important;
}

.navbar, .container {
    padding: 0 5% 0 5%;
}

.nav-link {
	font-family: 'Oswald', sans-serif;
	color: #fff !important;
}

/* ACCUEIL */
.header {
	background-image:url('../images/kw-coaching-kevin-header2.png');
	height: 780px;
	position: relative;
	background-size: cover;
	margin-top: -10%;
	z-index: -1;
	padding: 23% 0 0;
}

.header > div > h1 {
	margin-bottom: 3%;
	/*color : #A51111;*/
}

/** COACHING **/
.coaching-pers{
    padding: 8% 0 8%;
}

/** AVIS CLIENTS **/
.testimony_name{
	font-family: 'Oswald', sans-serif;
	color: black;
	text-align: center;
}

.testimony_text{
	color: black;
	text-align: justify;
	font-size: 14px;
	height : 90px;
}

.testimony{
	background-color: #fff !important;
	border-right:#A51111 solid 10px;
	border-bottom: #A51111 solid 10px;
	padding : 1%;
	width: 367px !important;
	height : 250px;
	display: block;
	margin : 10px;
}

.quotes{
	display: inherit !important;
	margin : 0 4% 0 0 !important;
	width : auto !important;
}

.block_name{
	height : 50px;
}

/* ACCES ADMIN*/
.formulaire-co > img {
	display: block;
    margin: 0 auto;
	width: 35%;
}

.formulaire-co > form {
	background: #ffffff33;
    padding: 3%;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.formulaire-co > form > div > label {
	color: #fff;
    font-size: 18px;
}

.homepage {
	position: absolute;
    bottom: 3%;
    left: 3%;
}

.homepage > a {
	color: #fff;
	text-decoration: none;
}


/* FORMULAIRE CONTACT */
.formulaire_contact > form {
	background: #ffffff33;
    padding: 3%;
    width: 60%;
    display: block;
    margin: 0 auto;
}

.formulaire_contact > form > div > label {
	color: #fff;
    font-size: 18px;
}

.formulaire_contact > form > div > div > label {
	color: #fff;
    font-size: 18px;
}

/* PRESENTATION COACH */
.white_block_presentation {
	background: #fff;
    padding: 5% 4% 4% 8%;
    width: 60%;
    margin: 3% auto;
}

.white_block_presentation > p , .white_block_presentation > h2 {
	color : black;
}

.gray_block {
	background:#e9ecef;
	padding: 0 0 0 0;
	margin: 3% auto;
}

.gray_block > p {
	color: black;
}